
* {
    padding: 0;
    margin: 0;
}
/*Í·²¿*/

header{height: 60px;
}
.safe{ width: 1200px;
    margin: 0 auto;  }
.safe:after{content:'';display: block;clear: both;}
.headerTXT{
    text-align: right;
    font-size: 14px;
    color: #666666;
    line-height: 59px;
}
.headerTXT>*{vertical-align: middle}

.icon-dianhua1{
    font-size: 20px;
    margin-right: 10px;
}
.mr18{margin-right: 18px}


/*Â¥²ãÒ»*/

#A1{
    height: 940px;
    background-image: url(../image/1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    text-align: center;
}

.A11{
    padding-top: 140px;
}
#A12{
    font-size: 28px;
    color: #43698f;
    padding: 30px 0 90px;
}

#A13{font-size: 0}
#A13>button{
    width: 280px;
    height: 60px;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    color: #24a9f1;
    outline: none;
}
#A13 span{vertical-align: 4px}
#A13 i{ font-size: 40px}

#A13>button:active{background-color: #24a9f1}

#A13>button:first-child{margin-right: 22px}

#A1>p{
    font-size: 18px;
    color: white;
    padding: 50px 0 14px;
}
#A14 img{height: 200px}

/*Â¥²ã¶þ*/
#B1{height: 1000px;
    background-color: #4eb55f;}
.B11{height: 1000px;
    width: 1200px;
    margin: 0 auto;
}

.B11 img{padding:150px 0 0 14px;
    float: left;
}
.B11 p{
     float: right;
}
#Btxt1{font-size: 36px;
    color: white;
    padding: 416px 0 22px; ;
}
#Btxt2{font-size: 18px;
    color: white;
}
/*Â¥²ãÈý*/
#C1{height: 1000px;
    background-color: #eb9c36;}
.C11{height: 1000px;
    width: 1200px;
    margin: 0 auto;
}

.C11 img{padding:206px 0 0 0px;
    float: right;
}
/*#C11 p{*/
    /*float: left;*/
/*}*/
#Ctxt1{font-size: 36px;
    color: white;
    padding: 448px 0 22px;
}
#Ctxt2{font-size: 18px;
    color: white;
}

/*Â¥²ãËÄ*/
#D1{height: 1000px;
    background-color: #ed683f;}
.D11{height: 1000px;
    width: 1200px;
    margin: 0 auto;
}

.D11>img{
    margin:188px 0 0 14px;
    float: left;
}

#Dtxt1{
    font-size: 36px;
    color: white;
    padding-top: 416px;
    float: right;]
}
#Dtxt2{font-size: 18px;
    color: white;
    text-align: right;
}

/*Â¥²ãÎå*/
#E1{height: 1000px;
    background-color: #4c9bd7;}
.E11{height: 1000px;
    width: 1200px;
    margin: 0 auto;
}

.E11 img{padding:246px 42px 0 0px;
    float: right;
}
#Etxt1{font-size: 36px;
    color: white;
    padding: 448px 0 22px;
}
#Etxt2{font-size: 18px;
    color: white;
}
/*Â¥²ãÁù*/
#F1{height: 1000px;
    background-color: #356b95;}
.F11{height: 1000px;
    width: 1200px;
    margin: 0 auto;
}

.F11>img{
    margin-top:316px ;
    float: left;
}

.disInline{display: inline-block;
    vertical-align:top;
}
.F111>p{font-size: 27px; color: white}
.F111 span{font-size: 18px;color: white}
.F111{width: 484px;
    margin-top: 406px;
    float: right;  }
.F111 i{font-size: 24px;color: white}

#F6{margin-top: 26px}
#F7{margin-top: 26px}
#F8{margin-top: 26px}
/*Â¥²ãÆß*/
#G1{height: 80px;  background-color: #295373}

#end{
    font-size: 12px;  color: #999999;
   padding: 32px 282px 32px 338px;
}








