
* {
    padding: 0;
    margin: 0;
}


header{height: 60px;
}
.safe{ width: 1200px;
    margin: 0 auto;  }
.headerTXT{
    text-align: right;
    font-size: 14px;
    color: #666666;
    line-height: 59px;
}
.headerTXT>*{vertical-align: middle}

.icon-dianhua1{
    font-size: 20px;
    margin-right: 10px;
}
.mr18{margin-right: 18px}



